/* Layout
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
	background-color: #f5f5f5;
}

body > .container-fluid {
	padding: 60px 15px 25px;
}

.footer > .container-fluid {
	padding-right: 15px;
	padding-left: 15px;
}


/*
 * Notifications Table Styles
 */

.dataTable.dtr-column > tbody > tr > td.control, 
.dataTable.dtr-column > tbody > tr > th.control {
	padding: 0 20px;
}
.dataTable tr.child ul.dtr-details {
	width: 100%;
}

.dataTable .noti-icon,
.dataTable .noti-image,
.dataTable .noti-badge  {
	display: block;
	margin: auto;
	width: 100%;
}

.dataTable .noti-icon {
	max-width: 128px;
	max-height: 128px;
}
.dataTable .noti-image {
	max-width: 256px;
	max-height: 256px;
}
.dataTable .noti-badge {
	max-width: 32px;
	max-height: 32px;
}
.dataTable .noti-action-icon {
	max-width: 16px;
	max-height: 16px;
}

.dataTable audio {
    height: 25px; 
}